<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>享见1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4EFD4CD1D0FAB0D000CD0FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4EFD4E61D0FAB0D000CD0FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4EFD4F11D0FAB0D000CD0FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
